/*================================================
Responsive Navbar CSS
=================================================*/
.offcanvas-header .mobile-logo {
  color: #fff;
  margin-bottom: 0;
}
.responsive-navbar {
  --bs-offcanvas-width: 420px;
  background-color: #F1F0EB;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05);
}
.responsive-navbar .offcanvas-header {
  padding: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.responsive-navbar .offcanvas-header .close-btn {
  transition: var(--transition);
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  top: 2px;
}
.responsive-navbar .offcanvas-header .close-btn:hover {
  color: #ea3118;
}
.responsive-navbar .offcanvas-body {
  padding: 20px;
}
.responsive-navbar .offcanvas-body ul {
  list-style-type: none;
  margin-bottom: 0;
}
.responsive-navbar .offcanvas-body ul.responsive-menu {
  padding-left: 0;
  overflow: hidden;
}
.responsive-navbar .offcanvas-body ul.responsive-menu .responsive-menu-list {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  line-height: 55px;
  height: 55px;
  clear: both;
  width: 100%;
}
.responsive-navbar .offcanvas-body ul.responsive-menu .responsive-menu-list:after {
  top: 50%;
  right: 0;
  content: "\ea4e";
  color: #ffffff;
  position: absolute;
  transform: translateY(-50%);
  transition: var(--transition);
  font-family: remixicon !important;
  font-style: normal;
}
.responsive-navbar .offcanvas-body ul.responsive-menu .responsive-menu-list a {
  height: 100%;
  display: block;
  color: #ffffff;
  padding-right: 40px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
.responsive-navbar .offcanvas-body ul.responsive-menu .responsive-menu-list .responsive-menu-items {
  height: 0;
  overflow: hidden;
}
.responsive-navbar .offcanvas-body ul.responsive-menu .responsive-menu-list .responsive-menu-items a {
  padding: 0 15px;
  font-size: 15px;
  color: #ffffff !important;
}
.responsive-navbar .offcanvas-body ul.responsive-menu .responsive-menu-list .responsive-menu-items a:hover {
  color: #ffffff;
}
.responsive-navbar .offcanvas-body ul.responsive-menu .responsive-menu-list.without-icon:after {
  display: none;
}
.responsive-navbar .offcanvas-body ul.responsive-menu .responsive-menu-list:hover a, .responsive-navbar .offcanvas-body ul.responsive-menu .responsive-menu-list.active a {
  color: #ea3118;
}
.responsive-navbar .offcanvas-body ul.responsive-menu .responsive-menu-list:hover .responsive-menu-items a.active, .responsive-navbar .offcanvas-body ul.responsive-menu .responsive-menu-list.active .responsive-menu-items a.active {
  color: #ea3118 !important;
}
.responsive-navbar .offcanvas-body ul.responsive-menu .active:after {
  transform: translateY(-50%) rotate(180deg);
}
.responsive-navbar .offcanvas-body ul.responsive-menu .active > .responsive-menu-items {
  transition: all 200ms;
  display: block;
  height: auto;
  clear: both;
  float: left;
  width: 100%;
  padding: 0;
}
.responsive-navbar .offcanvas-body ul.responsive-menu .active > .responsive-menu-items li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.responsive-navbar .offcanvas-body ul.responsive-menu .active > a {
  color: #ffffff;
}
.responsive-navbar .offcanvas-body ul.responsive-menu .menu-item {
  position: relative;
  line-height: 55px;
  height: 55px;
  clear: both;
  width: 100%;
}
.responsive-navbar .offcanvas-body ul.responsive-menu .menu-item:after {
  top: 50%;
  right: 6px;
  content: "\ea4e";
  color: #000000;
  position: absolute;
  transform: translateY(-50%);
  transition: var(--transition);
  font-family: "remixicon" !important;
  font-size: 15px;
  font-style: normal;
  display: none;
}
.responsive-navbar .offcanvas-body ul.responsive-menu .menu-item a {
  height: 100%;
  display: block;
  color: #000;
  padding-right: 40px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
.responsive-navbar .offcanvas-body ul.responsive-menu .menu-item .sub-menu {
  height: 0;
  overflow: hidden;
  background-color: #f5f5f5;
}
.responsive-navbar .offcanvas-body ul.responsive-menu .menu-item .sub-menu a {
  padding: 0 15px;
  font-size: 15px;
}
.responsive-navbar .offcanvas-body ul.responsive-menu .menu-item.menu-item-has-children:after {
  display: block;
}
.responsive-navbar .offcanvas-body ul.responsive-menu .active:after {
  transform: translateY(-50%) rotate(180deg);
}
.responsive-navbar .offcanvas-body ul.responsive-menu .active > .sub-menu {
  transition: all 200ms;
  display: block;
  height: auto;
  clear: both;
  float: left;
  width: 100%;
  padding: 0;
}
.responsive-navbar .offcanvas-body ul.responsive-menu .active > .sub-menu li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.responsive-navbar .offcanvas-body .others-option {
  margin-top: 50px;
}
.responsive-navbar .offcanvas-body .others-option .option-item {
  margin-right: 10px;
}
.responsive-navbar .offcanvas-body .others-option .option-item .search-modal {
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.responsive-navbar .offcanvas-body .others-option .option-item .search-modal i {
  color: #ffffff;
  line-height: 1;
  font-size: 22px;
  margin-right: 7px;
  transition: var(--transition);
}
.responsive-navbar .offcanvas-body .others-option .option-item .search-modal:hover i {
  color: #ea3118;
}
.responsive-navbar .offcanvas-body .others-option .option-item .cart a i {
  color: #ffffff;
  line-height: 1;
  font-size: 22px;
  margin-right: 7px;
  transition: var(--transition);
}
.responsive-navbar .offcanvas-body .others-option .option-item .cart a:hover {
  color: #ea3118;
}
.responsive-navbar .offcanvas-body .others-option .option-item .cart a:hover span {
  color: #000000;
}
.responsive-navbar .offcanvas-body .others-option .option-item:last-child {
  margin-right: 0;
}
