/*================================================
Default Colors Style
=================================================*/
/* Max width 767px */
@media only screen and (max-width: 767px) {
  .navbar.is-sticky.hide-wp-nav {
    margin-top: 0;
  }
  body {
    font-size: 15px;
  }
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  .pb-75 {
    padding-bottom: 25px;
  }
  .section-title {
    margin-bottom: 30px;
  }
  .section-title.d-flex {
    display: block !important;
  }
  .section-title h2 {
    font-size: 30px;
  }
  .section-title img {
    margin-top: 20px;
  }
  .top-header-area .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    max-width: 540px;
  }
  .top-header-info {
    display: block;
    text-align: center;
  }
  .top-header-info li {
    margin-right: 0;
    margin-bottom: 7px;
  }
  .top-header-info li:last-child {
    margin-bottom: 0;
  }
  .top-header-social {
    justify-content: center;
    margin-top: 10px;
  }
  .navbar .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    max-width: 540px;
  }
  .main-slider-item {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .main-slider-item .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    max-width: 540px;
  }
  .main-slider-content .top h1 {
    font-size: 30px;
  }
  .main-slider-content .bottom {
    display: block;
    margin-top: 35px;
    margin-bottom: 55px;
  }
  .main-slider-content .bottom .list {
    margin-bottom: 20px;
  }
  .main-slider-content .bottom .list li a {
    padding: 2px 8px;
    font-size: 12px;
  }
  .main-slider-content .bottom .info h5 {
    font-size: 17.5px;
    line-height: 1.5;
  }
  .main-slider .main-slider-pagination {
    right: 0;
    left: 0;
    bottom: 50px !important;
    margin: auto;
  }
  .about-lft-content {
    padding-right: 0;
  }
  .about-lft-content h2 {
    font-size: 25px;
  }
  .about-lft-content .big-text {
    font-size: 15px;
  }
  .about-lft-content .bottom {
    display: block;
    margin-top: 30px;
    margin-left: 0;
  }
  .about-lft-content .bottom .image {
    margin-bottom: 25px;
  }
  .about-lft-content .bottom .counter-items {
    padding-left: 0;
  }
  .about-lft-content .bottom .counter-items .item h3 {
    font-size: 30px;
  }
  .about-rght-content {
    margin-top: 30px;
  }
  .about-rght-content h3 {
    font-size: 25px;
  }
  .about-rght-content .wrap-image .star-shape {
    display: none;
  }
  .practice-large-card {
    padding: 20px;
  }
  .practice-large-card::before {
    border-radius: 10px;
    margin-top: 0;
    margin-left: 0;
  }
  .practice-large-card h3 {
    font-size: 25px;
  }
  .practice-large-card .practice-btn {
    margin-top: 15px;
  }
  .practice-card {
    padding: 20px;
  }
  .practice-card h3 {
    font-size: 20px;
  }
  .practice-lft-card {
    padding: 20px;
  }
  .practice-lft-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .practice-lft-card .practice-btn {
    margin-top: 15px;
  }
  .why-choose-us-content h2 {
    font-size: 25px;
  }
  .why-choose-us-content h2 img {
    max-width: 55px;
    top: -1px;
  }
  .why-choose-us-accordion .accordion-item .accordion-button h3 {
    font-size: 18.5px;
  }
  .why-choose-us-image {
    position: relative;
    text-align: center;
    margin-top: 30px;
  }
  .case-slider-button {
    margin-top: 20px;
  }
  .case-study-card .content {
    padding: 25px;
  }
  .case-study-card .content h3 {
    font-size: 20px;
  }
  .case-study-slider {
    margin-right: 0;
  }
  .team-items .item {
    padding: 20px;
    display: block;
    text-align: center;
    margin-bottom: 25px;
  }
  .team-items .item:last-child {
    margin-bottom: 0;
  }
  .team-items .item .title {
    display: block;
    margin-bottom: 15px;
  }
  .team-items .item .title span {
    display: block;
    margin-left: 0;
    margin-top: 8px;
  }
  .team-items .item .team-social {
    margin-bottom: 15px;
  }
  .team-items .item .hover-image {
    position: relative;
    right: 0;
    opacity: 1;
    visibility: visible;
    margin-top: 15px;
  }
  .team-items .item .hover-image img {
    max-width: 100%;
  }
  .team-items .item:hover .hover-image {
    top: 0;
  }
  .team-y-shape {
    display: none;
  }
  .feedback-card .quote {
    margin-bottom: 20px;
  }
  .feedback-shape1, .feedback-shape2, .feedback-shape3, .feedback-shape4 {
    display: none;
  }
  .appointment-form {
    padding: 20px;
  }
  .appointment-form h3 {
    font-size: 25px;
  }
  .appointment-form .form-group .form-control {
    font-size: 14px;
  }
  .appointment-image {
    position: relative;
    left: 0;
    text-align: center;
    margin-top: 30px;
  }
  .appointment-shape {
    display: none;
  }
  .blog-card .blog-content h3, .single-blog-card .blog-content h3 {
    font-size: 22px;
  }
  .footer-area {
    padding-top: 50px;
  }
  .footer-area::before {
    display: none;
  }
  .our-client-inner {
    margin-bottom: 35px;
  }
  .single-footer-widget h3 {
    font-size: 18px;
  }
  .single-footer-widget.ps-5 {
    padding-left: 0 !important;
  }
  .footer-newsletter {
    padding: 20px;
  }
  .footer-newsletter h3 {
    font-size: 22px;
    margin-bottom: 12px;
  }
  .footer-newsletter .wrap-shape {
    top: 10px;
    right: 10px;
    max-width: 100px;
  }
  .copyright-area {
    text-align: center;
  }
  .copyright-area::before {
    display: none;
  }
  .copyright-area p {
    margin-bottom: 12px;
  }
  .copyright-area .text-end {
    text-align: center !important;
  }
  .main-banner-area .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    max-width: 540px;
  }
  .main-banner-content {
    padding: 20px;
  }
  .main-banner-content h1 {
    font-size: 35px;
  }
  .main-banner-content h1 .one {
    max-width: 35px;
  }
  .main-banner-content h1 .two {
    max-width: 80px;
  }
  .main-banner-content h1 .three {
    max-width: 80px;
  }
  .main-banner-content .bottom-wrap {
    margin-top: 30px;
    display: block;
  }
  .main-banner-content .bottom-wrap .content {
    margin-left: 0;
    margin-top: 20px;
  }
  .main-banner-content .banner-btn {
    position: relative;
    right: 0;
    bottom: 0;
    margin-top: 20px;
  }
  .main-banner-content .wrap-shape {
    display: none;
  }
  .main-banner-image {
    height: 450px;
    margin-top: 25px;
  }
  .about-style-lft-content h2 {
    font-size: 25px;
  }
  .about-style-lft-content .info .image img {
    max-width: 50px;
  }
  .about-style-rght-content {
    margin-top: 30px;
  }
  .about-style-rght-content h5 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .features-card {
    padding: 25px;
  }
  .features-card .top {
    margin-bottom: 15px;
  }
  .features-card .top .image img {
    max-width: 65px;
  }
  .features-card .top .title {
    margin-left: 15px;
  }
  .features-card .top .title h3 {
    font-size: 18.5px;
  }
  .features-card .top .title h3 span {
    display: inline-block;
  }
  .practice-wrap-area {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .practice-wrap-card .content h3 {
    font-size: 18.5px;
    margin-bottom: 15px;
  }
  .practice-wrap-top-title {
    display: none;
  }
  .practice-wrap-shape {
    display: none;
  }
  .practice-wrap-bottom p {
    display: block;
  }
  .why-choose-us-wrap-content {
    margin-bottom: 25px;
  }
  .why-choose-us-wrap-content h3 {
    font-size: 25px;
  }
  .why-choose-us-wrap-image .info {
    position: relative;
    right: 0;
    bottom: 0;
    margin-top: 20px;
  }
  .why-choose-us-wrap-accordion {
    padding-left: 0;
    margin-top: 35px;
  }
  .why-choose-us-wrap-accordion .accordion-item .accordion-button .icon {
    margin-right: 15px;
  }
  .why-choose-us-wrap-accordion .accordion-item .accordion-button h3 {
    font-size: 18.5px;
  }
  .fun-fact-card h2 {
    font-size: 40px;
  }
  .fun-fact-card p {
    padding-top: 15px;
    margin-top: 15px;
  }
  .case-study-style-area {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .case-slider-style-button {
    margin-top: 25px;
  }
  .case-study-style-card {
    margin-bottom: 25px;
  }
  .case-study-style-card h3 {
    font-size: 20.5px;
    margin-top: 20px;
  }
  .case-study-style-bottom-text {
    margin-top: 25px;
    margin-left: 0;
  }
  .case-study-style-swiper-scrollbar {
    display: none;
  }
  .case-study-style-shape {
    display: none;
  }
  .team-card .title {
    padding: 15px 0 0 0;
  }
  .team-card .team-social {
    right: 15px;
    bottom: 5px;
  }
  .feedback-style-title.d-flex {
    display: block !important;
  }
  .feedback-style-title .title {
    display: block;
  }
  .feedback-style-title .title img {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .feedback-style-title .title h2 {
    font-size: 30px;
  }
  .feedback-style-title .group-image {
    margin-top: 15px;
  }
  .feedback-style-content {
    margin-bottom: 30px;
  }
  .feedback-style-card {
    padding: 25px;
  }
  .feedback-style-card h5 {
    font-size: 15px;
  }
  .feedback-style-slider {
    margin-right: 0;
  }
  .faq-area {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .faq-image {
    padding-right: 0;
    margin-bottom: 35px;
  }
  .faq-accordion .accordion-item .accordion-button h3 {
    font-size: 15.5px;
  }
  .faq-shape {
    display: none;
  }
  .blog-card .blog-image .date, .single-blog-card .blog-image .date {
    left: 0;
    top: 0;
    font-size: 10px;
  }
  .footer-area.with-black-wrap-color .our-client-inner h3 {
    color: #ffffff;
  }
  .main-banner-wrap-area {
    padding-top: 50px;
  }
  .main-banner-wrap-area .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    max-width: 540px;
  }
  .main-banner-wrap-content {
    margin-bottom: 35px;
  }
  .main-banner-wrap-content .lft span {
    margin-bottom: 10px;
  }
  .main-banner-wrap-content .lft h1 {
    font-size: 28px;
  }
  .main-banner-wrap-content .rght {
    padding-left: 0;
    margin-top: 20px;
  }
  .main-banner-wrap-image .wrap {
    left: 10px;
    bottom: 10px;
  }
  .main-banner-wrap-image .wrap img {
    max-width: 100px;
  }
  .main-banner-wrap-bottom .inner-content {
    padding: 25px;
    margin: 30px 0 0 0;
    max-width: 100%;
  }
  .main-banner-wrap-bottom .inner-content .content h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .advantages-area .section-title .rght {
    display: none;
  }
  .advantages-items .item {
    padding: 20px;
    display: block;
    text-align: center;
  }
  .advantages-items .item .number {
    font-size: 15px;
    left: 5px;
    top: 5px;
  }
  .advantages-items .item .title {
    margin-bottom: 10px;
  }
  .advantages-items .item .title h3 {
    font-size: 18px;
  }
  .advantages-items .item .content {
    margin-bottom: 15px;
  }
  .advantages-items .item .content p {
    margin-left: 0;
    max-width: 100%;
  }
  .advantages-items .item .hover-image {
    position: relative;
    right: 0;
    top: unset;
    transform: unset;
    opacity: 1;
    visibility: visible;
    margin-top: 20px;
  }
  .advantages-items .item .hover-image img {
    max-width: 100%;
  }
  .why-choose-us-style-lft h2 {
    font-size: 25px;
    margin-bottom: 25px;
  }
  .why-choose-us-style-lft .left-image {
    margin-right: 0;
  }
  .why-choose-us-style-rght {
    margin-top: 25px;
  }
  .why-choose-us-style-rght p {
    padding: 25px 0 0 0;
  }
  .case-study-area .section-title .rght {
    margin-right: 0;
  }
  .case-study-lft-wrap {
    padding-right: 0;
  }
  .case-study-rght-wrap {
    padding-left: 0;
  }
  .case-study-item {
    margin-bottom: 25px;
  }
  .case-study-item h3 {
    font-size: 20.5px;
  }
  .feedback-style-wrap-slider {
    margin-right: 0;
  }
  .faq-inner-area {
    padding: 20px;
  }
  .faq-content h2 {
    font-size: 25px;
    margin-bottom: 25px;
  }
  .faq-content form {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .faq-content form h3 {
    font-size: 17.5px;
    margin-bottom: 20px;
  }
  .pricing-content h2 {
    font-size: 30px;
  }
  .pricing-card {
    padding: 20px;
    margin-top: 25px;
  }
  .pricing-card h3 {
    font-size: 18.5px;
    margin-bottom: 18px;
  }
  .pricing-card .price {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .pricing-card h5 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .blog-items .item {
    padding: 20px;
    display: block;
    text-align: center;
  }
  .blog-items .item .date {
    left: 5px;
    top: 5px;
    font-size: 12px;
  }
  .blog-items .item .title {
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
  }
  .blog-items .item .admin {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .blog-items .item .admin a {
    justify-content: center;
  }
  .blog-items .item .hover-image {
    position: relative;
    right: 0;
    top: unset;
    transform: unset;
    opacity: 1;
    visibility: visible;
    margin-top: 20px;
  }
  .blog-items .item .hover-image img {
    max-width: 100%;
  }
  .our-client-inner .big-title {
    font-size: 25px;
    top: 0;
  }
  .page-banner-area {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .page-banner-content h1 {
    font-size: 35px;
    margin-bottom: 8px;
  }
  .page-banner-image {
    position: relative;
    right: 0;
    text-align: center;
    margin: 30px 10px 0;
  }
  .page-banner-circle {
    display: none;
  }
  .pricing-item {
    padding: 20px;
    margin-top: 25px;
  }
  .pricing-item h3 {
    font-size: 18.5px;
    margin-bottom: 18px;
  }
  .pricing-item .price {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .pricing-item h5 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .attorneys-details-lft .info h3 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .attorneys-details-rght {
    padding-left: 0;
    margin-top: 35px;
  }
  .attorneys-details-rght .top h3 {
    font-size: 25px;
    margin-bottom: 8px;
  }
  .attorneys-details-rght .information h3 {
    font-size: 25px;
  }
  .attorneys-details-rght form h3 {
    font-size: 25px;
  }
  .appointment-inner-area {
    margin-left: 0;
  }
  .appointment-inner-area .appointment-form {
    padding: 25px;
  }
  .appointment-wrap-image {
    text-align: center;
    margin-bottom: 30px;
  }
  .my-account-tabs {
    padding: 20px;
  }
  .my-account-tabs .nav .nav-item .nav-link {
    font-size: 15px;
  }
  .my-account-tabs .form-bottom .form-check .form-check-label {
    font-size: 14px;
  }
  .my-account-tabs .form-bottom .forgot-password {
    font-size: 12px;
  }
  .my-account-tabs .group-btn-list {
    display: block;
  }
  .my-account-tabs .group-btn-list li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .my-account-tabs .group-btn-list li button {
    padding: 15px 20px;
  }
  .my-account-tabs .group-btn-list li:last-child {
    margin-bottom: 0;
  }
  .not-found-content h2 {
    font-size: 25px;
  }
  .not-found-content h3 {
    font-size: 25px;
  }
  .not-found-content .not-found-btn {
    margin-top: 30px;
  }
  .practice-details-top-content .rght {
    display: block;
    margin-top: 30px;
  }
  .practice-details-top-content .rght .counter-items {
    padding-left: 0;
    margin-top: 20px;
  }
  .practice-details-features {
    margin-bottom: 10px;
  }
  .practice-details-desc .content h3 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .practice-details-desc .content .list li .title p b {
    font-size: 17px;
  }
  .practice-details-sidebar {
    margin-top: 30px;
  }
  .practice-details-sidebar .sidebar-box {
    padding: 25px;
  }
  .practice-details-sidebar .sidebar-box h3 {
    font-size: 20.5px;
  }
  .case-study-details-desc h2 {
    font-size: 30px;
  }
  .case-study-details-desc .content h3 {
    font-size: 25px;
    margin-bottom: 12px;
  }
  .case-study-details-desc .inner-content h3 {
    font-size: 22px;
  }
  .case-study-details-desc .inner-content .list li .title p b {
    font-size: 17px;
  }
  .case-study-details-desc .content-box {
    padding: 20px;
  }
  .case-study-details-desc .content-box h3 {
    font-size: 22px;
    margin-bottom: 12px;
  }
  .case-study-details-desc .content-box .list li p b {
    font-size: 17px;
  }
  .case-study-details-desc .client-box h3 {
    font-size: 25px;
  }
  .case-study-details-desc .client-box .box-wrap {
    padding: 20px;
  }
  .case-study-details-sidebar {
    margin-top: 30px;
  }
  .case-study-details-sidebar .info-box {
    padding: 25px;
  }
  .case-study-details-sidebar .info-box h3 {
    font-size: 19.5px;
  }
  .contact-us-form {
    padding: 25px;
  }
  .contact-us-form h3 {
    font-size: 25px;
  }
  .contact-us-rght {
    margin-top: 30px;
  }
  .widget-area {
    margin-top: 30px;
  }
  .widget-area.wrap-left {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .blog-details-desc .image .date {
    left: 0;
    top: 0;
  }
  .blog-details-desc .inner-content h4 {
    font-size: 22px;
  }
  .blog-details-desc .inner-content .block-image {
    margin-top: 25px;
  }
  .blog-details-desc h3 {
    font-size: 25px;
  }
  .blog-details-desc .article-comment h3 {
    font-size: 22px;
  }
  .blog-details-desc .article-comment .comment-list {
    padding-right: 0;
  }
  .blog-details-desc .article-comment .comment-list .comment-reply-link {
    position: relative;
    margin-top: 12px;
    display: block;
  }
  .blog-details-desc .comment-form h3 {
    font-size: 22px;
  }
  .shop-grid-box p {
    margin-bottom: 18px;
  }
  .shop-grid-box .form-select {
    padding-left: 0;
  }
  .cart-buttons .shopping-coupon-code button {
    padding: 15px 10px;
    margin-top: 0;
  }
  .cart-buttons .default-btn {
    margin-top: 15px;
  }
  .checkout-info-form .form-group h3 {
    font-size: 22px;
  }
  .checkout-info-sidebar {
    margin-top: 30px;
  }
  .product-details-content {
    padding-left: 0;
    margin-top: 30px;
  }
  .product-details-content .info-list {
    margin-top: 25px;
  }
  .product-details-content .add-to-cart-quantity li .default-btn {
    padding: 15px 15px;
  }
  .product-details-tabs {
    margin-top: 50px;
  }
}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .main-slider-content .top h1 {
    font-size: 35px;
  }
  .features-card {
    padding: 30px;
  }
  .team-card .team-social {
    right: 45px;
    bottom: 20px;
  }
  .blog-card .blog-image .date, .single-blog-card .blog-image .date {
    font-size: 15px;
  }
  .shop-grid-box p {
    margin-bottom: 0;
  }
  .shop-grid-box .form-select {
    padding-left: 0;
  }
}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar.is-sticky.hide-wp-nav {
    margin-top: 46px;
  }
  .top-header-area .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    max-width: 720px;
  }
  .top-header-info li {
    margin-right: 20px;
    font-size: 14px;
  }
  .top-header-social li {
    margin-right: 10px;
  }
  .top-header-social li a i {
    font-size: 15px;
  }
  .navbar .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    max-width: 720px;
  }
  .main-slider-item {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .main-slider-item .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    max-width: 720px;
  }
  .main-slider-content .top h1 {
    font-size: 55px;
  }
  .main-slider-content .bottom {
    margin-top: 35px;
    margin-bottom: 55px;
  }
  .main-slider-content .bottom .list {
    margin-bottom: 20px;
  }
  .main-slider-content .bottom .list li a {
    padding: 2px 8px;
    font-size: 12px;
  }
  .main-slider-content .bottom .info h5 {
    font-size: 17.5px;
    line-height: 1.5;
  }
  .main-slider .main-slider-pagination {
    bottom: 100px !important;
  }
  .about-lft-content {
    padding-right: 0;
  }
  .about-rght-content {
    margin-top: 30px;
  }
  .practice-large-card {
    padding: 30px;
  }
  .practice-large-card::before {
    margin-top: 0;
    margin-left: 0;
    border-radius: 10px;
  }
  .why-choose-us-accordion {
    max-width: 100%;
  }
  .why-choose-us-image {
    position: relative;
    text-align: center;
    margin-top: 30px;
  }
  .why-choose-us-image .star-shape {
    left: 240px;
    top: 135px;
  }
  .case-study-card .content {
    padding: 25px;
  }
  .case-study-card .content h3 {
    font-size: 25px;
  }
  .case-study-slider {
    margin-right: 0;
  }
  .team-items .item {
    padding: 30px;
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }
  .team-items .item:last-child {
    margin-bottom: 0;
  }
  .team-items .item .title {
    display: block;
    margin-bottom: 15px;
  }
  .team-items .item .title span {
    display: block;
    margin-left: 0;
    margin-top: 8px;
  }
  .team-items .item .team-social {
    margin-bottom: 15px;
  }
  .team-items .item .hover-image {
    position: relative;
    right: 0;
    opacity: 1;
    visibility: visible;
    margin-top: 15px;
  }
  .team-items .item .hover-image img {
    max-width: 100%;
  }
  .team-items .item:hover .hover-image {
    top: 0;
  }
  .team-y-shape {
    display: none;
  }
  .feedback-shape1, .feedback-shape2, .feedback-shape3, .feedback-shape4 {
    display: none;
  }
  .appointment-form {
    padding: 35px;
  }
  .appointment-image {
    position: relative;
    left: 0;
    text-align: center;
    margin-top: 30px;
  }
  .appointment-shape {
    display: none;
  }
  .footer-area {
    padding-top: 100px;
  }
  .footer-area::before {
    display: none;
  }
  .our-client-inner {
    margin-bottom: 35px;
  }
  .footer-newsletter {
    padding: 35px;
  }
  .footer-newsletter .wrap-shape {
    top: 10px;
    right: 10px;
    max-width: 100px;
  }
  .copyright-area {
    text-align: center;
  }
  .copyright-area::before {
    display: none;
  }
  .copyright-area p {
    margin-bottom: 12px;
  }
  .copyright-area .text-end {
    text-align: center !important;
  }
  .main-banner-area .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    max-width: 720px;
  }
  .main-banner-content {
    padding: 50px;
  }
  .main-banner-content h1 {
    font-size: 50px;
  }
  .main-banner-content h1 .one {
    max-width: 45px;
  }
  .main-banner-content h1 .two {
    max-width: 110px;
  }
  .main-banner-content h1 .three {
    max-width: 110px;
  }
  .main-banner-content .bottom-wrap {
    display: block;
  }
  .main-banner-content .bottom-wrap .content {
    margin-left: 0;
    margin-top: 15px;
  }
  .main-banner-image {
    height: 650px;
    margin-top: 25px;
  }
  .about-style-rght-content {
    margin-top: 30px;
  }
  .features-card {
    padding: 25px;
  }
  .features-card .top .title {
    margin-left: 15px;
  }
  .features-card .top .title h3 {
    font-size: 18.5px;
  }
  .practice-wrap-area {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .practice-wrap-top-title {
    display: none;
  }
  .practice-wrap-shape {
    display: none;
  }
  .why-choose-us-wrap-content {
    margin-bottom: 25px;
  }
  .why-choose-us-wrap-accordion {
    padding-left: 0;
    margin-top: 35px;
  }
  .fun-fact-card h2 {
    font-size: 40px;
  }
  .fun-fact-card p {
    padding-top: 15px;
    margin-top: 15px;
  }
  .case-study-style-area {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .case-study-style-bottom-text {
    margin-top: 30px;
    margin-left: 0;
  }
  .case-study-style-swiper-scrollbar {
    display: none;
  }
  .case-study-style-shape {
    display: none;
  }
  .team-card .title {
    padding: 15px 0 0 0;
  }
  .team-card .team-social {
    right: 15px;
    bottom: 5px;
  }
  .feedback-style-card {
    padding: 25px;
  }
  .feedback-style-card h5 {
    font-size: 15px;
  }
  .faq-area {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .faq-image {
    padding-right: 0;
    margin-bottom: 35px;
  }
  .faq-shape {
    display: none;
  }
  .footer-area.with-black-wrap-color .our-client-inner h3 {
    color: #ffffff;
  }
  .main-banner-wrap-area .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    max-width: 720px;
  }
  .main-banner-wrap-content {
    margin-bottom: 35px;
  }
  .main-banner-wrap-content .lft span {
    margin-bottom: 10px;
  }
  .main-banner-wrap-content .lft h1 {
    font-size: 50px;
  }
  .main-banner-wrap-content .rght {
    padding-left: 0;
    margin-top: 20px;
  }
  .main-banner-wrap-image .wrap {
    left: 20px;
    bottom: 20px;
  }
  .main-banner-wrap-bottom .inner-content {
    padding: 25px;
    margin: 30px 0 0 0;
    max-width: 100%;
  }
  .advantages-area .section-title .rght {
    display: none;
  }
  .advantages-items .item {
    padding: 30px;
    display: block;
    text-align: center;
  }
  .advantages-items .item .number {
    font-size: 15px;
    left: 5px;
    top: 5px;
  }
  .advantages-items .item .title {
    margin-bottom: 10px;
  }
  .advantages-items .item .title h3 {
    font-size: 18px;
  }
  .advantages-items .item .content {
    margin-bottom: 15px;
  }
  .advantages-items .item .content p {
    margin-left: 0;
    max-width: 100%;
  }
  .advantages-items .item .hover-image {
    position: relative;
    right: 0;
    top: unset;
    transform: unset;
    opacity: 1;
    visibility: visible;
    margin-top: 20px;
  }
  .advantages-items .item .hover-image img {
    max-width: 100%;
  }
  .why-choose-us-style-lft h2 {
    margin-bottom: 25px;
  }
  .why-choose-us-style-lft .left-image {
    margin-right: 0;
  }
  .why-choose-us-style-rght {
    margin-top: 25px;
  }
  .why-choose-us-style-rght p {
    padding: 25px 0 0 0;
  }
  .case-study-area .section-title .rght {
    margin-right: 0;
  }
  .case-study-lft-wrap {
    padding-right: 0;
  }
  .case-study-rght-wrap {
    padding-left: 0;
  }
  .case-study-item {
    margin-bottom: 25px;
  }
  .case-study-item h3 {
    font-size: 20.5px;
  }
  .faq-inner-area {
    padding: 35px;
  }
  .faq-content h2 {
    margin-bottom: 25px;
  }
  .faq-content form {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .faq-content form h3 {
    margin-bottom: 20px;
  }
  .pricing-card {
    margin-top: 25px;
  }
  .blog-items .item {
    padding: 20px;
    display: block;
    text-align: center;
  }
  .blog-items .item .date {
    left: 5px;
    top: 5px;
    font-size: 12px;
  }
  .blog-items .item .title {
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
  }
  .blog-items .item .admin {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .blog-items .item .admin a {
    justify-content: center;
  }
  .blog-items .item .hover-image {
    position: relative;
    right: 0;
    top: unset;
    transform: unset;
    opacity: 1;
    visibility: visible;
    margin-top: 20px;
  }
  .blog-items .item .hover-image img {
    max-width: 100%;
  }
  .our-client-inner .big-title {
    font-size: 25px;
    top: 0;
  }
  .page-banner-area {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .page-banner-content h1 {
    font-size: 55px;
    margin-bottom: 10px;
  }
  .attorneys-details-lft .team-card .title {
    padding: 10px 0 0 0;
  }
  .attorneys-details-lft .team-card .title span {
    margin-top: 5px;
  }
  .attorneys-details-lft .team-card .team-social {
    right: 5px;
    bottom: 0;
  }
  .attorneys-details-lft .info h3 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .attorneys-details-rght {
    padding-left: 0;
  }
  .attorneys-details-rght .top h3 {
    font-size: 25px;
    margin-bottom: 8px;
  }
  .attorneys-details-rght .information h3 {
    font-size: 25px;
  }
  .attorneys-details-rght form h3 {
    font-size: 25px;
  }
  .appointment-inner-area {
    margin-left: 0;
  }
  .appointment-inner-area .appointment-form {
    padding: 65px;
  }
  .appointment-wrap-image {
    text-align: center;
    margin-bottom: 30px;
  }
  .my-account-tabs {
    padding: 30px;
  }
  .my-account-tabs .group-btn-list li button {
    padding: 15px 40px;
  }
  .practice-details-top-content .rght {
    margin-top: 30px;
  }
  .practice-details-features {
    margin-bottom: 10px;
  }
  .practice-details-desc .content h3 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .practice-details-desc .content .list li .title p b {
    font-size: 17px;
  }
  .practice-details-sidebar {
    margin-top: 30px;
  }
  .practice-details-sidebar .sidebar-box {
    padding: 25px;
  }
  .practice-details-sidebar .sidebar-box h3 {
    font-size: 20.5px;
  }
  .case-study-details-sidebar {
    margin-top: 30px;
  }
  .contact-us-form {
    padding: 25px;
  }
  .contact-us-form h3 {
    font-size: 25px;
  }
  .contact-us-rght {
    margin-top: 30px;
  }
  .widget-area {
    margin-top: 30px;
  }
  .widget-area.wrap-left {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .blog-card .blog-image .date, .single-blog-card .blog-image .date {
    left: 0;
    top: 0;
  }
  .blog-card .blog-image .date.left, .single-blog-card .blog-image .date.left {
    left: 0;
  }
  .blog-details-desc .image .date {
    left: 0;
    top: 0;
  }
  .checkout-info-form .form-group h3 {
    font-size: 22px;
  }
  .checkout-info-sidebar {
    margin-top: 30px;
  }
  .product-details-content {
    padding-left: 0;
    margin-top: 30px;
  }
}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .top-header-area .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    max-width: 960px;
  }
  .top-header-info li {
    margin-right: 20px;
  }
  .navbar .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    max-width: 960px;
  }
  .main-slider-item .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    max-width: 960px;
  }
  .about-lft-content {
    padding-right: 0;
  }
  .practice-large-card {
    padding-bottom: 50.5px;
  }
  .practice-large-card h3 {
    font-size: 22px;
  }
  .practice-card {
    padding: 25px;
  }
  .practice-card .top {
    margin-bottom: 60.5px;
  }
  .practice-card h3 {
    font-size: 22px;
  }
  .practice-lft-card {
    padding: 25px;
  }
  .practice-lft-card .top {
    margin-bottom: 10px;
  }
  .practice-lft-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .practice-lft-card p {
    font-size: 14px;
  }
  .practice-lft-card .practice-btn {
    margin-top: 12px;
    font-size: 14px;
  }
  .why-choose-us-accordion {
    max-width: 100%;
  }
  .why-choose-us-image {
    position: relative;
    text-align: center;
    margin-top: 30px;
  }
  .case-study-card .content {
    padding: 25px;
  }
  .case-study-slider {
    margin-right: 0;
  }
  .team-items .item {
    padding: 55px 45px;
  }
  .team-items .item .hover-image {
    right: 120px;
  }
  .team-items .item .hover-image img {
    max-width: 155px;
  }
  .team-y-shape {
    display: none;
  }
  .feedback-shape1 {
    max-width: 90px;
  }
  .feedback-shape2 {
    max-width: 90px;
  }
  .feedback-shape3 {
    max-width: 90px;
    top: 5%;
    right: 10%;
    transform: translateY(-5%) translateX(-10%);
  }
  .feedback-shape4 {
    max-width: 90px;
  }
  .appointment-form {
    padding: 35px;
  }
  .appointment-image {
    position: relative;
    left: 0;
    text-align: center;
    margin-top: 30px;
  }
  .appointment-shape {
    display: none;
  }
  .single-footer-widget h3 {
    font-size: 18px;
  }
  .single-footer-widget .info-list li {
    font-size: 13px;
  }
  .single-footer-widget .quick-link li {
    font-size: 14px;
  }
  .footer-newsletter {
    padding: 50px;
  }
  .footer-newsletter h3 {
    font-size: 35px;
  }
  .footer-newsletter .wrap-shape {
    max-width: 115px;
  }
  .copyright-area::before {
    width: 535px;
  }
  .main-banner-area .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    max-width: 960px;
  }
  .main-banner-content {
    padding: 40px;
  }
  .main-banner-content h1 {
    font-size: 65px;
  }
  .main-banner-content h1 .one {
    max-width: 50px;
  }
  .main-banner-content h1 .two {
    max-width: 110px;
  }
  .main-banner-content h1 .three {
    max-width: 110px;
  }
  .main-banner-content .bottom-wrap {
    display: block;
    margin-top: 50px;
  }
  .main-banner-content .bottom-wrap .content {
    margin-left: 0;
    margin-top: 15px;
  }
  .practice-wrap-area {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .practice-wrap-top-title {
    display: none;
  }
  .practice-wrap-shape {
    display: none;
  }
  .why-choose-us-wrap-content {
    margin-bottom: 25px;
  }
  .why-choose-us-wrap-image .info {
    right: 55px;
    bottom: 50px;
  }
  .why-choose-us-wrap-accordion {
    padding-left: 0;
    margin-top: 35px;
  }
  .case-study-style-area {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .case-study-style-bottom-text {
    margin-top: 30px;
    margin-left: 0;
  }
  .case-study-style-swiper-scrollbar .swiper-scrollbar {
    right: 25px;
    bottom: 0;
  }
  .case-study-style-shape {
    display: none;
  }
  .faq-area {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .faq-image {
    padding-right: 0;
    margin-bottom: 35px;
  }
  .faq-image img {
    width: 100%;
  }
  .faq-shape {
    display: none;
  }
  .main-banner-wrap-area .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    max-width: 960px;
  }
  .main-banner-wrap-content .lft h1 {
    font-size: 65px;
  }
  .main-banner-wrap-bottom .inner-content {
    padding: 22px;
    margin: -430px 0 0 0;
  }
  .main-banner-wrap-bottom .inner-content .content h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .advantages-items .item .content p {
    margin-left: 0;
  }
  .faq-inner-area {
    padding: 70px 50px;
  }
  .pricing-card {
    margin-top: 25px;
  }
  .our-client-inner .big-title {
    font-size: 27px;
  }
  .page-banner-area {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .page-banner-content h1 {
    font-size: 70px;
    margin-bottom: 10px;
  }
  .attorneys-details-lft .team-card .title {
    padding: 10px 0 0 0;
  }
  .attorneys-details-lft .team-card .title span {
    margin-top: 5px;
  }
  .attorneys-details-lft .team-card .team-social {
    right: 5px;
    bottom: 0;
  }
  .attorneys-details-lft .info h3 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .attorneys-details-rght {
    padding-left: 25px;
  }
  .attorneys-details-rght .top h3 {
    font-size: 25px;
    margin-bottom: 8px;
  }
  .attorneys-details-rght .information h3 {
    font-size: 25px;
  }
  .attorneys-details-rght form h3 {
    font-size: 25px;
  }
  .appointment-inner-area {
    margin-left: 0;
  }
  .appointment-inner-area .appointment-form {
    padding: 65px;
  }
  .practice-details-top-content .rght {
    margin-top: 30px;
  }
  .contact-us-form {
    padding: 45px;
  }
  .blog-card .blog-image .date, .single-blog-card .blog-image .date {
    left: 0;
    top: 0;
  }
  .blog-card .blog-image .date.left, .single-blog-card .blog-image .date.left {
    left: 0;
  }
  .blog-details-desc .image .date {
    left: 0;
    top: 0;
  }
}
/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .top-header-area .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    max-width: 1140px;
  }
  .navbar .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    max-width: 1140px;
  }
  .navbar .navbar-nav .nav-item {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar .others-option .option-item .search-bar i {
    padding: 15px 20px;
  }
  .navbar .others-option .option-item .default-btn {
    padding: 15px 18px;
  }
  .main-slider-item .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    max-width: 1140px;
  }
  .practice-large-card {
    padding-bottom: 75.5px;
  }
  .practice-card .top {
    margin-bottom: 75.5px;
  }
  .why-choose-us-image .star-shape {
    left: 420px;
    top: 300px;
    max-width: 80px;
  }
  .team-items .item {
    padding: 55px 45px;
  }
  .team-items .item .hover-image {
    right: 120px;
  }
  .feedback-shape1 {
    max-width: 90px;
  }
  .feedback-shape2 {
    max-width: 90px;
  }
  .feedback-shape3 {
    max-width: 90px;
    top: 5%;
    right: 10%;
    transform: translateY(-5%) translateX(-10%);
  }
  .feedback-shape4 {
    max-width: 90px;
  }
  .appointment-form {
    padding: 50px;
    max-width: 590px;
  }
  .appointment-shape {
    display: none;
  }
  .footer-newsletter {
    padding: 100px 65px;
  }
  .copyright-area::before {
    width: 635px;
  }
  .main-banner-area .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    max-width: 1140px;
  }
  .main-banner-content .bottom-wrap {
    display: block;
    margin-top: 50px;
  }
  .main-banner-content .bottom-wrap .content {
    margin-left: 0;
    margin-top: 15px;
  }
  .practice-wrap-area {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .practice-wrap-top-title {
    display: none;
  }
  .practice-wrap-shape {
    display: none;
  }
  .why-choose-us-wrap-image .info {
    right: 0;
    bottom: 15px;
  }
  .why-choose-us-wrap-image .info h5 {
    font-size: 18.5px;
  }
  .why-choose-us-wrap-accordion {
    padding-left: 45px;
  }
  .case-study-style-area {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .case-study-style-bottom-text {
    margin-top: 30px;
    margin-left: 0;
  }
  .case-study-style-swiper-scrollbar .swiper-scrollbar {
    right: 25px;
    bottom: 0;
  }
  .case-study-style-shape {
    display: none;
  }
  .team-card .title {
    padding: 20px 0 0 0;
  }
  .team-card .team-social {
    right: 20px;
    bottom: 10px;
  }
  .faq-area {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .faq-image {
    padding-right: 25px;
  }
  .faq-accordion .accordion-item .accordion-button h3 {
    font-size: 17.5px;
  }
  .faq-shape {
    display: none;
  }
  .blog-card .blog-image .date, .single-blog-card .blog-image .date {
    left: 20px;
    top: 5px;
  }
  .main-banner-wrap-area .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    max-width: 1140px;
  }
  .main-banner-wrap-content .lft h1 {
    font-size: 80px;
  }
  .main-banner-wrap-bottom .inner-content {
    padding: 30px;
    margin: -430px 0 0 0;
  }
  .advantages-items .item .content p {
    margin-left: 0;
  }
  .faq-inner-area {
    padding: 70px 50px;
  }
  .our-client-inner .big-title {
    font-size: 33px;
  }
  .attorneys-details-rght {
    padding-left: 35px;
  }
  .appointment-inner-area {
    margin-left: 0;
  }
}
/* Min width 1600px */
@media only screen and (min-width: 1600px) {
  .top-header-area .container-fluid {
    padding-left: 150px;
    padding-right: 150px;
    max-width: 1920px;
  }
  .navbar .container-fluid {
    padding-left: 150px;
    padding-right: 150px;
    max-width: 1920px;
  }
  .main-slider-item .container-fluid {
    padding-left: 150px;
    padding-right: 150px;
    max-width: 1920px;
  }
  .main-slider {
    position: relative;
  }
  .main-slider .main-slider-pagination {
    right: 150px;
  }
  .main-banner-content {
    padding: 100px 75px 50px 120px;
  }
  .main-banner-content h1 {
    font-size: 90px;
  }
  .main-banner-content h1 .one {
    max-width: 82px;
  }
  .main-banner-content h1 .two {
    max-width: 205px;
  }
  .main-banner-content h1 .three {
    max-width: 200px;
  }
  .main-banner-content .bottom-wrap {
    margin-top: 100px;
  }
  .main-banner-wrap-area .container-fluid {
    padding-left: 150px;
    padding-right: 150px;
    max-width: 1920px;
  }
}

/*# sourceMappingURL=responsive.css.map */
